@import './tailwind';
@import 'antd/dist/reset.css';
@import '//at.alicdn.com/t/font_2917743_255h2sxth2nh.css';

body,
html {
  height: 100%;

  p {
    margin-bottom: 0;
    color: $colorPrimary;
  }
}

#root {
  width: 100%;
  height: 100%;
}
