@import './tailwind';
@import 'antd/dist/reset.css';

html,
body,
#app,
#root {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
    Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', sans-serif;
}

#root,
.ant-app {
  width: 100%;
  height: 100%;
}
